/* 전체 선택자 - 초기화 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 태그 선택자 (플렉스 컨테이너 안의 자식 요소 세로 방향 나열)*/
body{
    line-height: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 상단바 */
#main-header {
    background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNDA1MTZfMTUy%2FMDAxNzE1Nzg3NDY4Mzk2.N1E8RlhMCZuU3VDKPfDrIhbw5bBDwa8baJDtD2wRnJYg.D3ulpKULk1S2ykmzTky9Qvk9mTjDvW8MGcqzckBKbN8g.PNG%2F25.png&type=sc960_832');
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 20px 0;
    height: 150px;
}

/* main-header에 작성시 이미지 세로 기준으로 중앙 배열 */
.header-image{
    display: flex;
    justify-content: center;
}


/* 사이드바 */
.sidebar nav ul{
    list-style: none;
    padding:10px;
}

.sidebar ul li a {
    display: block;
    line-height: 40px;
    margin-bottom: 10px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    text-align: left;
    padding-left: 8px;
    font-size: 13px;
}

.sidebar ul li a:hover {
    background-color: #218838;
}

/* 폼 스타일 */
.signup-form > form{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    font-size: 13px;
    background-color: #f0f0f0;
    padding: 6%;
    border-radius: 6px;
    width: 250px;
}

.signup-form label + input{
    margin-bottom: 10px;
}

.signup-form label[for = "username"]::before{
    content:'👤';
    margin-right: 5px;
}

.signup-form input, .signup-form button{
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}


/* 회원가입 버튼 */
.signup-form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

/* css 위치 조정 */
.sidebar{
    position: absolute;
    top: 180px;
    left: 20px;
    width: 200px;
}

.maincontainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    flex:1;
}


/* 푸터 */
footer {
    color: white;
    text-align: center;
    background-color: black;
    padding: 6px;
    bottom: 0;
    position: fixed;
    width: 100%;
}
